<% provide(:title, @user.name) %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
	  <h1><%= @user.name %></h1>
      <p><%= mail_to @user.email %></p>
      <p class="lead"><%= @user.bio %></p>
	</div>
</div>