<% provide(:title, @user.name) %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
	  <h1><%= @user.name %>&nbsp;&nbsp;
	    <% if signed_in? %>
          <small><%= link_to '', edit_user_path(@user), class: 'glyphicon glyphicon-pencil', id: "#{@user.name}_edit",
                      title: 'Edit my info', rel: 'tooltip' %></small>
		<% end %>
	  </h1>
      <p><%= mail_to @user.email %></p>
      <p class="lead"><%= @user.bio %></p>
	</div>
</div>