<% if @post.errors.any? %>
  <div class="alert alert-warning">
    <p>The post has <%= pluralize(@post.errors.count, 'problem') %></p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
    </ul>
  </div>
<% end %>