<div class="post">
  <h2 class="text-center"><%= post.title.html_safe %></h2>
  <p class="date"><small><%= post.created_at.strftime("%d %B %Y") %></small></p>
  <%= post.body.gsub('---MORE---', '').html_safe %>
</div>