<% provide(:title, @post.title) %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Update post</h1>

<%= render 'post_form', button_text: 'Update post' %>

</div>
</div>