<div class="row">
<div class="col-md-8 col-md-offset-2">
  <h1 class="text-center">Welcome to the
    <%= link_to 'quoth', "#", class: 'quoth-typography' %> blog.</h1>

  <%= link_to 'New post', new_post_path, class: 'btn btn-info' %>

  <% @posts.each do |post| %>
    <h2 class="text-center"><%= link_to post.title, post_path(post) %></h2>
    <%#= link_to 'View full post', post_path(post) %>
    <div class="post"><%= post.body.html_safe %></div>
  <% end %>
</div>
</div>