<% provide(:title, 'New post') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
<h1 class="text-center">Write an awesome new post</h1>

<%= render 'post_form', button_text: 'Create post' %>

<p><br /><%= link_to 'Home', root_path %></p>
</div>
</div>