<% provide(:title, @post.title) %>

<h1><%= @post.title %></h1>
<p><small>Posted on <%= @post.created_at.strftime("%d %B %Y") %></small></p>
<div class="post"><%= @post.body.html_safe %></div>

<%= link_to 'Home', root_path %>