<% provide(:title, @post.title) %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= render 'post', post: @post %>

		<hr />

		<% if signed_in? %>
			<%= link_to 'Edit', edit_post_path(@post) %> &nbsp;&nbsp;
			<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Delete post?' } %> &nbsp;&nbsp;
		<% end %>

		<%= link_to 'Home', root_path %>
	</div>
</div>