<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">

    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">&copy;2014 Gemfile</p></li>
    </ul>
  </div>
</nav>